body{
    font-size: 18px;
    line-height: 2;
}


.col-lg {
    height:auto;
    margin-top: 5px;

}


.item {
    display: inline-block;
    border-left: 1px #6d6161 solid;
    border-bottom: 1px #686262 solid;
   
    width: 33%;
    
    height: 42px;
    background-color: rgb(247, 197, 136);
}




.item {
    text-align: center;
    
}

.item>img {
   
    width: 40px;
    height: 40px;

}

.hide {
    display: none;
}