.row{
    margin: 0 auto;
}

.col-lg-2 {
    padding: 0;
    margin-left:20px; 
    height: auto;
}


td{
    border-left: 1px #6d6161 solid;
    border-bottom: 1px #686262 solid;
    margin: 0;
    width: 78px;
    padding-left: 2px;
    height: 28px;
}
.hours{
    height: auto;
    
}

    
.pac-card{
    height: fit-content;
}

.item{
    text-align: center;
}
.item > img {
    
    width: 40px;
    height: 40px;
    
  }

  .hide{
      display: none;
  }

   

